.work-item-description {
	width: 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	padding: 36px;
	text-align: center
}

.work-item-description h3 {
	font-family: Playfair Display, serif;
	font-weight: 700;
	font-size: 1.625rem;
	line-height: 1.33;
	letter-spacing: .8px;
	color: #1b2025
}

.work-item-details {
	height: 100%;
}